{{!-- This is the Products page --}}

<h1>Products</h1>
[ <a href="/">Home</a> | <a href="/Customers">Customers</a> |  <a href="/Orders">Orders</a> | <a href="/Products">Products</a> | <a href="/ProductTypes">ProductTypes</a> ]

{{!-- Create Products table --}}
<table id="products-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- Display each column name in human readable format --}}
        <caption>Information for all products</caption>
        <tr>
            <th>Product ID</th>
            <th>Product Type ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Product Price ($)</th>
            <th>Quantity per Unit</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        
        {{!-- For each row, print the productID, productTypeID, productName, productDescription, productPrice, quantityPerUnit in order --}}
        {{#each data}}
        <tr>
            <td>{{this.productID}}</td>
            <td>{{this.productTypeID}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.productDescription}}</td>
            <td>{{this.productPrice}}</td>
            <td>{{this.quantityPerUnit}}</td>
        </tr>
        {{/each}}
    </tbody> 
</table>

{{!-- Form to add a Product to the table using standard HTML forms --}}
<h2>Add a Product</h2>
<p>To add a new Product, please enter its information below and click `Submit`!</p>
<form id="add-product-form" method="POST" action="/add-product-form">
    <label for="input-productType">Product Type: </label>
    <select name="input-productType" id="input-productType-html" required>
        <option value="">Select a Product Type</option>
        {{#each types}}
        <option value="{{this.productTypeID}}">{{this.productType}}</option>
        {{/each}}
    </select>
    <br>
    <label for="input-productName">Name: </label>
    <input type="text" name="input-productName" id="input-productName" required>
    <br>
    <label for="input-productDescription">Description: </label>
    <input type="text" name="input-productName" id="input-productName" required>
    <br>
    <label for="input-productPrice">Product Price ($): </label>
    <input type="number" name="input-productPrice" id="input-productPrice" required>
    <br>
    <label for="input-quantityPerUnit">Quantity Per Unit: </label>
    <input type="number" name="input-quantityPerUnit" id="input-quantityPerUnit" required>
    <br>
    <input type="submit">
</form> 